<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username, id: :user_username %>
  </div>

  <div class="field">
    <%= form.label :isAdmin %>
    <%= form.check_box :isAdmin, id: :user_isAdmin %>
  </div>

  <div class="field">
    <%= form.label :background %>
    <%= form.text_area :background, id: :user_background %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.text_field :sex, id: :user_sex %>
  </div>

  <div class="field">
    <%= form.label :dateOfBirth %>
    <%= form.date_select :dateOfBirth, id: :user_dateOfBirth %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
