<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Isadmin:</strong>
  <%= @user.isAdmin %>
</p>

<p>
  <strong>Background:</strong>
  <%= @user.background %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Dateofbirth:</strong>
  <%= @user.dateOfBirth %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
